# Build
book
target
**/mdbook-plantuml-img/**

# Cache
.mdbook-plantuml-cache/

# Dev
mdlint.log
mdlink.log

# Other
.vscode/
.DS_Store
.idea/
**/nohup.out
**/pre-commit.log
.venv
node_modules
compose-dev.yaml